---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';

const allPosts = await getCollection("blog");

const pageTitle = "我的 Astro 学习博客";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <BaseLayout pageTitle={pageTitle}>
        <p>在这里，我将分享我的 Astro 学习之旅。</p>
        <ul>
            {allPosts.map((post: any) => (
               <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
            ))}
        </ul>
    </BaseLayout>
</body>
</html>