---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import '../styles/global.css';

const pageTitle = '首页';
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <button hx-post="/partials/clicked/"
        hx-trigger="click"
        hx-target="#parent-div"
        hx-swap="innerHTML"
      >
        点我！
      </button>
    <a href="/about" data-astro-prefetch>与加载</a>

    <BaseLayout pageTitle={pageTitle}>
    <h2>我超棒的博客副标题</h2>
    <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
    </BaseLayout>
  </body>
</html>