---
import BaseLayout from "~/layouts/BaseLayout.astro";
const htmlString = '<p>Raw HTML content</p>';
---
<script type="application/ld+json" set:html={JSON.stringify({
  "@context": "https://schema.org/",
  "@type": "Person",
  name: "Houston",
  hasOccupation: {
    "@type": "Occupation",
    name: "Astronaut"
  }
})}/>

<BaseLayout>
    <h1>Test Page</h1>
    <Fragment set:html={htmlString} />
</BaseLayout>